[submodule "vim-rails"]
	path = vim-rails
	url = /Users/tbueno/dev/dotfiles/vim/bundle/vim-rails
[submodule "vim-endwise"]
	path = vim-endwise
	url = /Users/tbueno/dev/dotfiles/vim/bundle/vim-endwise
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = /Users/tbueno/dev/dotfiles/vim/bundle/vim-fugitive
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = /Users/tbueno/dev/dotfiles/vim/bundle/snipmate.vim
